<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/modal_form.css}" />
    <script src="/js/confirm_password_change_scripts.js"></script>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/user/edit/{id}(id=${userCreateEditDto.id})}" th:object="${userCreateEditDto}" method="post">
    <label>Email:
        <input type="text" th:field="*{email}" readonly/><br/>
    </label>
    <label>First Name:
        <input type="text" th:field="*{firstname}" /><br/>
    </label>
    <label>Last Name:
        <input type="text" th:field="*{lastname}" /><br/>
    </label>
    <label>Birth Date:
        <input type="date" th:field="*{birthDate}"/><br/>
    </label>
    <div th:each="role : ${roles}">
        <input th:id="${role}" type="radio" name="role" th:value="${role}"
               th:checked="${role.equals(userCreateEditDto.role)}">
        <label th:for="${role}" th:text="${role}">Role name</label>
    </div>
    <button type="submit">Update</button>
    <div th:if="${errors}">
        <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Dummy error message</p>
    </div>
</form>
<a href="#" onclick="togglePasswordChangeForm()">Change Password</a>
<form id="passwordChangeForm" th:action="@{/user/change-password/{id}(id=${userCreateEditDto.id})}"
      method="post" style="display:none;">
    <label>New Password: <input type="password" id="passwordInput" name="password" /><br/></label>
    <button type="button" onclick="openModal()">Change Password</button>
    <br/>
    <br/>
    <button type="button" onclick="togglePasswordChangeForm()">Cancel</button>
</form>

<div id="myModal" class="modal">
    <div class="modal-content">
        <p>Are you sure you want to change the password? If you confirm, you will be redirected into home page and will have to log in again</p>
        <button onclick="confirmPasswordChange()">Yes</button>
        <br/>
        <br/>
        <button onclick="closeModal()">No</button>
    </div>
</div>
</body>
</html>
